<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>	
	<title>洛阳智能农业装备研究院有限公司</title>
	<meta charset="utf-8">
	<meta name="keywords" content="洛阳智能农业装备研究院有限公司" />
	<link rel="stylesheet" type="text/css" th:href="@{chiaic/css/chiaic.css}">
	<link rel="icon" th:href="@{chiaic/img/chiaic.ico}" type="image/x-icon">
</head>
<body>
<!-- heard start -->
		<div th:fragment="header"  class="header" >
			<div class="header-body">
				<div class="logo">
					<a href="/"><img class="img" src="chiaic/img/common/logo.png"></a>					
				</div>
				<div class="nav">
					<ul class="nav-ul">
						<li>
							<a href="/">首页</a>
						</li>
						<li>
							<a href="gsjj">关于我们</a>
							<ul class="dropdown">
								<li><a href="gsjj">公司简介</a></li>
								<li><a href="ldtd">领导团队</a></li>
								<li><a href="spzx">视频中心</a></li>
							</ul>
						</li>
						<li>
							<a href="cpzs">产品服务</a>
							<ul class="dropdown">
								<li><a href="cpzs">产品展示</a></li>
								<li><a href="jsfu">技术服务</a></li>
							</ul>
						</li>
						<li>
							<a href="news">企业动态</a>
						</li>
						<li>
							<a href="joinus">诚聘英才</a>
						</li>
					</ul>					
				</div>				
			</div>
		</div>			
		<!-- heard end -->
		<!-- foot start -->
		<div th:fragment="footer" class="foot" >			
			<div class="foot-body" >
				<div class="foot-body-text">
					<div style="width: 49%;">
						<ul>
							<li style="margin-bottom: 25px;">股东单位</li>
							<li><a href="http://www.yituo.com.cn/">中国一拖集团有限公司</a></li>
							<li><a href="http://www.zoomlion-hm.com/">中联重机股份有限公司</a></li>
							<li><a href="http://www.lamic.com.cn/">清华大学天津高端装备研究院洛阳先进制造产业研发基地</a></li>
							<li><a href="http://www.ict.ac.cn/jgsz/jsjfb/lyfs/">中国科学院计算机研究所洛阳分所</a></li>
							<li><a href="http://www.lyzklw.com/">洛阳中科龙网创新科技有限公司</a></li>
						</ul>
					</div>
					
					<div style="width: 45%;">
						<ul>
							<li style="margin-bottom: 25px;">联系我们</li>
							<li><img src="chiaic/img/common/icon_phone.png">电话：0379-60199639</li>
							<li><img src="chiaic/img/common/icon_zipcode.png">邮编：471934</li>
							<li><img src="chiaic/img/common/icon_email.png">邮箱： lychiaic@chiaic.com</li>
							<li><img src="chiaic/img/common/icon_address.png">地址：洛阳市伊滨区科技大道21号</li>
						</ul>
					</div>		
				</div>
				<div class="foot-body-img">					
					<ul>
						<li> 
							<a href="http://yg.chiaic.com">							
								<p><img  src="chiaic/img/common/foot-url-1.png"><br/><br/>智能农业装备管理平台</p>
							</a>
						</li>
						<li>
							<a href="http://zhny.chiaic.com">								
								<p><img  src="chiaic/img/common/foot-url-2.png"><br/><br/>智慧农业管理平台</p>
							</a>
						</li>
						<li>				
							<a href="snyg2.0.pdf">	
								<p><img  src="chiaic/img/common/foot-url-3.png"><br/><br/>神农耘耕app下载</p>	
							</a>						
						</li>
					</ul>					
				</div>
			</div>
		</div>
		<!-- foot end -->

		<!-- copy start -->
		<div th:fragment="copy" class="copy" >
			<div class="copy-body">
				<p>
					2019 &copy; <a href="http://www.chiaic.com/" target="_blank">IAIC</a> 版权所有 &nbsp;
					<a href="privacy.html">隐私政策</a>
					&nbsp;|&nbsp;
					<a href="http://www.xsfw.chiaic.com" target="_blank">销售支持</a>
					&nbsp;|&nbsp;
					<a href="#">法律信息</a>
					&nbsp;|&nbsp;
					<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备19000234号</a>
				</p>
				<p>
					<img src="chiaic/img/common/icp-ga.png">&nbsp;&nbsp;
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41031102000192&token=adf55f5e-f14f-4567-80f5-ce7c23e26fb7" target="_blank">豫公网安备 41031102000192 号</a>
	  			</p>
			</div>
    	</div>
		<!-- copy end -->
</body>
</html>