<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>	
	<title>洛阳智能农业装备研究院有限公司</title>
	<meta charset="utf-8">
	<meta name="keywords" content="洛阳智能农业装备研究院有限公司" />
	<link rel="stylesheet" type="text/css" th:href="@{chiaic/css/chiaic.css}">
	<link rel="icon" th:href="@{chiaic/img/chiaic.ico}" type="image/x-icon">
</head>
<body>
	<div class="body">
	<div th:replace="chiaic/head :: header"></div>

		<!--banner start -->
		<div  class="banner" style="width: 100%;min-height: 100px;margin-top: 75px;" >
			<iframe src="banner" frameborder="0"  style="width: 100%;min-height: 594px;"></iframe>
		</div>
		<!-- banner end -->

		<!-- super url start -->
		<div class="super-url">			
			<div class="supper-url-body">
				<div>
					<a href="http://yg.chiaic.com" target="_blank" >							
						<p>
							<img src="chiaic/img/common/url-1-1.png"><br/>智能农业装备管理平台
						</p>	
					</a>	
				</div>
				<div>
					<a href="http://zhny.chiaic.com" target="_blank">							
						<p>
							<img src="chiaic/img/common/url-2-1.png"/><br/>智慧农业管理平台
						</p>	
					</a>	
				</div>
				<div>
					<a href="http://dtny.chiaic.com" target="_blank">							
						<p>
							<img src="chiaic/img/common/url-3-1.png"/><br/>大田农业监管平台
						</p>	
					</a>	
				</div>	
			</div>			
		</div>
		<!-- super url end -->

		<!-- company start -->
		<div class="company">
			<div class="company-body">
				<div class="company-body-video">
					<video id="video1" src="http://www.chiaic.com/movie/chiaic-1.mp4"  controls></video>
					<script type="text/javascript">
							myVid=document.getElementById("video1");
							myVid.volume=0.4;
						</script>
				</div>
				<div class="company-body-text">
					<h3>
					公司简介 /<samp> <u>Com</u>pany Profile</samp>
					</h3>					
					<p>
						国家农机装备创新中心以国家战略性目标和农机制造业创新发展为导向，搭建“洛阳智能农业装备研究院有限公司+国家智能农机装备产业技术创新战略联盟”组织模式，致力于“打造农机装备领域原创科技的策源中心、行业技术进步的促进中心、大企业的技术研发中心和中小型企业的产品创新中心，并最终成为国际一流的农机装备制造业创新平台”。
					</p>
					<p>
						创新中心由中国一拖集团有限公司、中联重机股份有限公司、清华大学天津高端装备研究院洛阳先进制造产业研发基地、中国科学院计算技术研究所洛阳分所、洛阳中科龙网创新科技有限公司等联合组建，汇聚了由6名院士、1名千人计划、2名长江学者及业内著名专家...
					</p>
					<a href="aboutus/gsjj.html"><h4> 查看更多 ></h4></a>	
				</div>
			</div>			
		</div>
		<!-- company end -->

		<!-- shareholder start -->
		<div class="shareholder">
			<div class="dir">
				<div>					
					<h2>股东单位</h2>
					<p><u>Share</u>hoder Unit</p>							
				</div>
			</div>
			<div class="shareholder-member">						
					<div>						
						<p>
							<a href="http://www.yituo.com.cn/"><img src="chiaic/img/common/logo-yto.png"></a>
							<br/><br/>
							中国一拖集团有限公司
						</p> 
					</div>
					<div>
						<p>
							<a href="http://www.zoomlion-hm.com/"><img src="chiaic/img/common/logo-zoom.png"></a>
							<br/><br/>
							中联重机股份有限公司
						</p> 
					</div>
					<div>
						<p>
							<a href="http://www.lamic.com.cn/"><img src="chiaic/img/common/logo-qh.png"></a>
							<br/><br/>
							清华大学天津高端装备研究院洛阳先进制造产业研发基地
						</p> 
					</div>
					<div>
						<p>
							<a href="http://www.ict.ac.cn/jgsz/jsjfb/lyfs/"><img src="chiaic/img/common/logo-zk.png"></a>
							<br/><br/>
							中国科学院计算技术研究所洛阳分所
						</p> 
					</div>
					<div>
						<p>
							<a href="http://www.lyzklw.com/"><img src="chiaic/img/common/logo-lw.png"></a>
							<br/><br/>
							洛阳中科龙网创新科技有限公司
						</p> 
					</div>
			</div>		
		</div>
		<!-- shareholder end -->

		<!-- product start -->
		<div class="product">
			<div class="dir">			
				<div>
					<h2>产品展示</h2>
					<p><u>Produ</u>ct Display</p>
				</div>
			</div>
			<div class="product-img">
				<div>
					<a href=""><img src="chiaic/img/common/vehicle-1.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-2.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-3.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-4.png"></a>
				</div>	
				<div>
					<a href=""><img src="chiaic/img/common/vehicle-5.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-6.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-7.png"></a>
					<a href=""><img src="chiaic/img/common/vehicle-8.png"></a>
				</div>				
			</div>	
			<div class="clear"></div>
			<div class="more">
				<a href="products/products.html"><h4>查看更多 ></h4></a>
			</div>				
		</div>
		<!-- product end --> 

		<!--news start -->
		<div class="news ">			
			<div class="dir">			
				<div>
					<h2>企业动态</h2>
					<p><u>Comp</u>any News</p>
				</div>
			</div>
			<div class="news-body">
				<div class="left">	
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-22.jpg" style="width:124px;height: 87px; "></td>
							<td class="news-title" ><a href="news/20190722_01.html"><strong>中心入选全省智能制造观摩优秀企业</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.07.22<br/>2019年7月20日，刘伟副省长在郑州主持召开“2019年河南省智能制造观摩总结会”，洛阳智能农业装备研究院有限公司暨国家农机装备创新中心应邀参加。</td>
						</tr>
					</table>
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-21.jpg" style="width:124px;height: 87px;" ></td>
							<td class="news-title" ><a href="news/20190702_01.html"><strong>中心赴北京航天智造科技发展有限公司开展合作交流</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.07.02<br/>2019年6月28日，中心常务副总经理王云飞、总经理助理黄胜操、重大任务办公室主任郭志强一行赴北京航天云网科技发展有限责任公司开展...</td>
						</tr>
					</table>					
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-20.jpg" style="width:124px;height: 87px;" ></td>
							<td class="news-title" ><a href="news/20190701_01.html"><strong>中心参加2019《拖拉机与农用运输车》期刊理事年会</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.07.01<br/>2019年6月27日-29日“2019《拖拉机与农用运输车》期刊理事年会”在河南省洛阳市举办。作为拖拉机行业资深学术...</td>
						</tr>
					</table>		
				</div>
				<div class="right">
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-19.jpg" style="width:124px;height: 87px; "></td>
							<td class="news-title" ><a href="news/20190628_01.html"><strong>博士讲堂第五期——基于交通路网大数据的智能交通服务...</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.06.28<br/>2019年6月27日，第五期“博士讲堂”走进河南科技大学，来自电子科技大学自动化学院副教授郭宏亮博士以一场题为...</td>
						</tr>
					</table>	
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-18.jpg" style="width:124px;height: 87px;" ></td>
							<td class="news-title" ><a href="news/20190606_01.html"><strong>国务院发展研究中心副主任王安顺一行莅临中心调研考察</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.06.06<br/>2019年6月5日，国务院发展研究中心副主任王安顺一行在洛阳市副市长魏险峰，伊滨经开区管委会副书记曹...</td>
						</tr>
					</table>					
					<table>
						<tr>
							<td class="news-td1" rowspan="2"  ALIGN="RIGHT"><img src="news/img/news-s-11.jpg" style="width:124px;height: 87px;" ></td>
							<td class="news-title" ><a href="news/20190604_01.html"><strong>喜讯！中心斩获2018中国农业机械年度TOP50+技术创新奖第二名</strong></a></td>							
						</tr>
						<tr>						
							<td class="news-body" style="">发布时间:2019.06.04<br/>6月1日获悉，在2018中国农业机械年度TOP50+评选活动中，中心凭借自主研发产品超级拖拉机I号斩获技术创新奖第二名！此次...</td>
						</tr>
					</table>		
						
				</div>
			</div>
			<div class="clear"></div>
			<div class="more">
				<a href="news/news.html"><h4>查看更多 ></h4></a>
			</div>	
			
		</div>
		<!-- news end-->

		<div class="foot" th:replace="chiaic/head :: footer"></div>  
		<div class="copy" th:replace="chiaic/head :: copy" ></div>
		
	</div>
</body>
</html>