<!DOCTYPE html>
<html>
<head>
	<title>洛阳智能农业装备研究院有限公司</title>
	<meta charset="utf-8">	
	<link rel="stylesheet" type="text/css" th:href="@{chiaic/css/chiaic.css}">
	<link rel="icon" th:href="@{chiaic/img/chiaic.ico}" type="image/x-icon">
</head>
<body>
	<div class="body">
		<div th:replace="chiaic/head :: header"></div>

		<!--banner start -->
		<div  class="banner" style="width: 100%;min-height: 100px;margin-top: 75px;" >
			<img src="chiaic/img/common/joinus.jpg"  style="width: 100%;">
		</div>
		<!-- banner end -->

		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 65%;float: left;background: #F6F6F6;min-height: 100px;">
				<div style="margin: 2pc;">
					<p>
					国家农机装备创新中心由中国一拖集团、洛阳中科龙网、中联重机、清华高端装备研究院洛阳基地、洛阳中科信息产业研究院等组成产学研用团队。成立了以赵春江，陈学庚，雒建斌，李国杰四位院士领衔的技术专家委员会；集聚了中科院、清华大学、中国农业大学、等国内一流院所及学校的高端人才及团队，通过农业互联网平台、大数据技术、共享经济与农业装备的结合，打造“互联网+共享+农业装备”的创新体系，构建智能产品、智能制造、智能服务三大平台，重新定义农业及农业装备，推进精准农业、智慧农业发展。为推进争创国家制造业创新中心的进程，诚聘英才，需求如下：
				</p>
				<div style="background: #D2EDF8;padding:2px; ">
					<ul style="list-style: none;">
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">底薪+绩效</li>
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">餐补</li>
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">交通补贴</li>
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">五险一金</li>
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">过节福利</li>
						<li style="float: left;padding: 0.5pc;margin: 0px 0.5pc; background: #139CAC;color: #fff;">双休</li>
					</ul>
					<p class="clear"></p>
					<p style="text-indent: 2em;">
						<strong>工作时间：&nbsp;&nbsp;</strong>9:00-17:30 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>人事招聘邮箱:&nbsp;&nbsp;</strong>yy8641@dingtalk.com
					</p>
					<p style="text-indent: 2em;">
						<strong>联系电话：&nbsp;&nbsp;</strong>0379-60199639&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>联系人：&nbsp;&nbsp;</strong> 杨老师
					</p>
				</div>
				
				</div>
				
			</div>
			<div class="address-right" style="width: 34%;float: right;">
				<div class="map">
			  <iframe src="baidumap" style="width: 100%;min-height: 350px;"> </iframe>
			</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 44%;float: left;min-height: 100px; background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>底盘工程师（传动、转向、制动）</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">熟知拖拉机、汽车底盘系统的工作原理，产品设计和开发流程；</li>
							<li style="font-size: 16px;line-height: 2em; ">负责外购传动系统选型，了解各传动厂家的产品现状和性能特点，编制技术协议，能够进行传动系统问题的协调和处理；</li>
							<li style="font-size: 16px;line-height: 2em; ">负责底盘(转向系统/制动系统/传动系统)元器件选型和系统设计。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">车辆、农机和机械等相关专业，本科及以上学历</li>
							<li style="font-size: 16px;line-height: 2em; ">3年及以上底盘设计、改装及相关问题处理的工作经验，能够熟练掌握底盘各总成的相关知识，并能对问题有清晰的判断</li>
							<li style="font-size: 16px;line-height: 2em; ">能够独立开展车架、悬架、行驶、操纵方面总成（其中之一即可）的设计开发，以及底盘工程系统的设计开发</li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练使用AutoCAD、CATIA等设计软件</li>
							<li style="font-size: 16px;line-height: 2em; ">具备一定的组织协调和语言表达能力</li>
						</ol>
					</p>					
				</div>							
			</div>
			<div class="address-right" style="width: 44%;float: right;min-height: 100px;background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2> web前端开发工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-6000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">负责网页平台应用展示的前端开发</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科及以上学历，计算机等相关专业，一年以上前端开发经验</li>
							<li style="font-size: 16px;line-height: 2em; ">具备扎实的JavaScript、HTML、CSS知识，熟悉页面架构和布局以及各种主流浏览器兼容性问题的解决方法/li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练使用vue、react、AngularJS等主流前端框架</li>
							<li style="font-size: 16px;line-height: 2em; ">能熟练运用多种前端库框架技术，对交互体验、可用性有一定程度的理解</li>
							<li style="font-size: 16px;line-height: 2em; ">具备较强的钻研精神以及学习能力、沟通能力和团队协作能力。</li>
						</ol>
					</p><br><br><br><br><br><br>

				</div>		
			</div>
			<div class="clear"></div>
		</div>
		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 44%;float: left;min-height: 100px; background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>自动变速箱工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">负责新能源拖拉机自动变速箱的型号匹配及换挡逻辑匹配设计；</li>
							<li style="font-size: 16px;line-height: 2em; ">负责新型自动变速箱项目的开发及研究工作；</li>
							<li style="font-size: 16px;line-height: 2em; ">负责新能源拖拉机底盘系统的布局和设计；</li>
							<li style="font-size: 16px;line-height: 2em; ">根据项目开发要求，制定相关零件的开发计划并推动相关零件供应商实施该开发计划。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科或以上学历，车辆工程及机械等汽车相关专业，具备2年以上自动变速箱壳体设计与制造工作经验</li>
							<li style="font-size: 16px;line-height: 2em; ">熟悉自动变速器结构原理及其零部件制造工艺，并熟知制造过程的质量控制</li>
							<li style="font-size: 16px;line-height: 2em; ">具备良好的工程分析能力以及团队协作能力</li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练应用solidworks、Pro/E、UG、CATIA等其中一种或几种软件对零件进行三维和工程图的设计、绘制</li>
							<li style="font-size: 16px;line-height: 2em; ">具有拖拉机自动变速箱设计、维护等方面工作经验者优先考虑</li>
						</ol>
					</p>					
				</div>							
			</div>
			<div class="address-right" style="width: 44%;float: right;min-height: 100px;background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>算法工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">负责无人驾驶系统的开发、调试、测试等工作；</li>
							<li style="font-size: 16px;line-height: 2em; ">参与无人车项目的控制、仿真、测试、分析及评价等相关工作。</li>
							<li style="font-size: 16px;line-height: 2em; ">良好的团队沟通和协调能力，良好的学习能力。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科及以上学历，计算机、自动化、电子信息、数学、车辆工程等相关专业</li>
							<li style="font-size: 16px;line-height: 2em; ">熟悉C/C++、python等语言以及linux开发环境</li>
							<li style="font-size: 16px;line-height: 2em; ">对定位、导航有一定理解，有嵌入式系统开发经验者优先考虑</li>
						</ol>
					</p><br><br><br><br><br><br><br><br><br>					
				</div>		
			</div>
			<div class="clear"></div>
		</div>
		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 44%;float: left;min-height: 100px; background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>C/C++工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-6000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">项目技术方案、文档的编写及开发进度保证；</li>
							<li style="font-size: 16px;line-height: 2em; ">对新需求进行技术可实现性评估，并参与技术方案选型；</li>
							<li style="font-size: 16px;line-height: 2em; ">配合完成无人车自主驾驶系统的集成与测试；</li>
							<li style="font-size: 16px;line-height: 2em; ">配合完成无人车全系统的外场调试；</li>
							<li style="font-size: 16px;line-height: 2em; ">初级岗位需前往中科院、北理工、电子科大进行培训学习。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">计算机、自动化、机器人相关专业本科及以上学历</li>
							<li style="font-size: 16px;line-height: 2em; ">熟知linux开发环境，熟悉C/C++、python等语言以及自动控制理论、现代控制论、优化算法等</li>
							<li style="font-size: 16px;line-height: 2em; ">对定位、导航有一定理解，有嵌入式系统开发经验者优先考虑</li>
						</ol>
					</p>					
				</div>							
			</div>
			<div class="address-right" style="width: 44%;float: right;min-height: 100px;background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>ROS工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-6000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">负责编制项目开发的技术文档；</li>
							<li style="font-size: 16px;line-height: 2em; ">融合移植基于ROS系统的激光、GPS、视觉等传感模块；</li>
							<li style="font-size: 16px;line-height: 2em; ">进行功能仿真和实际测试；</li>
							<li style="font-size: 16px;line-height: 2em; ">初级岗位需前往中科院、北理工、电子科大进行培训学习。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科及以上学历，计算机、测控、人工智能、机电、电子、通信及相关专业</li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练使用Linux系统,熟悉ROS平台，并能基于Linux操作系统定位C++编程</li>
							<li style="font-size: 16px;line-height: 2em; ">对定位、导航有一定理解，有嵌入式系统开发经验者优先考虑</li>
						</ol>
					</p><br>					
				</div>		
			</div>
			<div class="clear"></div>
		</div>
		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 44%;float: left;min-height: 100px; background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>通信工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">通讯方案对接，性能测试，解决方案测试等；</li>
							<li style="font-size: 16px;line-height: 2em; ">编写测试规范，输出测试报告；</li>
							<li style="font-size: 16px;line-height: 2em; ">部门领导交办的其他工作。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">部门领导交办的其他工作。</li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练使用Linux系统并掌握shell等脚本语言，熟知常用数通测试工具的优先考虑</li>
							<li style="font-size: 16px;line-height: 2em; ">具备一定的网络知识，熟悉网络协议</li>
							<li style="font-size: 16px;line-height: 2em; ">具备问题分析能力以及文档编写能力</li>
							<li style="font-size: 16px;line-height: 2em; ">沟通和语言表达能力较好、团队协作能力强</li>
						</ol>
					</p><br><br><br><br><br><br><br><br><br><br>					
				</div>							
			</div>
			<div class="address-right" style="width: 44%;float: right;min-height: 100px;background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>大数据挖掘工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">能利用数据分析手段，对多种数据源进行深度诊断性挖掘；</li>
							<li style="font-size: 16px;line-height: 2em; ">应用机器学习、文本挖掘等技术，对海量数据进行挖掘，发现其潜在关系，研发符合客户的大数据产品；</li>
							<li style="font-size: 16px;line-height: 2em; ">配合业务部门给予数据支持，帮助业务部门优化运营服务，设计符合用户个性化需求的产品；</li>

							<li style="font-size: 16px;line-height: 2em; ">通过大数据挖掘用户群体行为和属性特征，帮助业务单元更好的理解客户需求。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科及以上学历，计算机类，统计类，经管类，数学类等相关专业优先考虑 </li>
							<li style="font-size: 16px;line-height: 2em; ">具备大数据的处理能力，掌握hive、SQL等相关数据提取工具，熟练操作excel、SASSPSS、PPT等工具</li>
							<li style="font-size: 16px;line-height: 2em; ">良好的数据敏感度能从海量数据提炼核心结果，并具备丰富的数据分析、挖掘、清洗和建模的经验</li>
							<li style="font-size: 16px;line-height: 2em; ">具备良好的抗压能力、沟通能力、逻辑思维能力，有独立开展分析研究项目经验</li>
							<li style="font-size: 16px;line-height: 2em; ">熟悉挖掘算法，自然语言处理，能够进行数据的挖掘建模，用户画像等，并能熟练掌握spss,sas,r,Python等</li>
						</ol>
					</p>					
				</div>		
			</div>
			<div class="clear"></div>
		</div>
		<div class="address" style="width: 70%;margin: 0 auto;margin-bottom: 1pc;">
			<div class="address-left" style="width: 44%;float: left;min-height: 100px; background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>智慧农耕系统场景设计师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-7000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">负责项目的景观规划设计工作，能够保证景观方案的落实；</li>
							<li style="font-size: 16px;line-height: 2em; ">能够将景观方案准确的落实到初步设计中，并充分反应出设计意图，同时，能够将概念性方案中未曾涉及的问题进行一定程度的设计及深化；</li>
							<li style="font-size: 16px;line-height: 2em; ">能够独立完成施工图的设计、绘制；</li>
							<li style="font-size: 16px;line-height: 2em; ">具备较强的审美能力以及严谨的工作态度，团队沟通、协作能力较强。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">景观学、风景园林学、环境艺术设计、建筑设计等相关专业毕业，本科及以上学历</li>
							<li style="font-size: 16px;line-height: 2em; ">有2年以上的景观施工图设计经验，富有创造力，参与过大型住宅及公共景观设计项目，具有一定的方案分析理解能力，能独立负责景观项目的制作实施</li>
							<li style="font-size: 16px;line-height: 2em; ">熟练掌握AutoCAD、Photoshop、sketchup、lumion、3D等制图软件，且绘图效率较高</li>
							<li style="font-size: 16px;line-height: 2em; ">熟悉施工工艺流程，对材料、植物、构造做法有较强的经验，对色彩、造型具有较强的审美能力</li>
							<li style="font-size: 16px;line-height: 2em; ">能够进行项目总平面彩绘制图和效果图渲染等工作</li>
						</ol>
					</p>					
				</div>							
			</div>
			<div class="address-right" style="width: 44%;float: right;min-height: 100px;background: #F6F6F6;padding: 1pc;padding-left: 2pc;">
				<div>
					<h2>航测工程师</h2>
					<p>薪资待遇 : &nbsp;&nbsp;4000-6000元/月</p>
					<h3>岗位职责:</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">多旋翼或固定翼无人机操作、测试、装配、保养、维修等；</li>
							<li style="font-size: 16px;line-height: 2em; ">完成测绘项目的前期技术策划，如方案编制、设备及人员组织测区踏勘等工作；</li>
							<li style="font-size: 16px;line-height: 2em; ">无人机航拍航测作业；</li>
							<li style="font-size: 16px;line-height: 2em; ">日常飞行演示和测试；</li>
							<li style="font-size: 16px;line-height: 2em; ">航拍内业成果处理和输出。</li>
						</ol>
					</p>
					<h3>任职要求：</h3>
					<p>
						<ol>
							<li style="font-size: 16px;line-height: 2em; ">本科及以上学历，具备民用无人机飞行执照（AOPA证优先考虑）和C1机动车驾驶证</li>
							<li style="font-size: 16px;line-height: 2em; ">具备多旋翼和固定翼无人机的组装、调试和飞行相关经验</li>
							<li style="font-size: 16px;line-height: 2em; ">熟悉航测各个环节相关的技术规范、行业规范等</li>
							<li style="font-size: 16px;line-height: 2em; ">能够熟练掌握无人机航测作业流程并使用航测内业软件，同时能独立完成DOM、DEM、DSM、DLG、DTM、矢量等高线等内业成果生成</li>
						</ol>
					</p><br><br><br><br>					
				</div>		
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="foot" th:replace="chiaic/head :: footer"></div>  
		<div class="copy" th:replace="chiaic/head :: copy" ></div>



	</div>
</body>
</html>