<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>	
	<title>洛阳智能农业装备研究院有限公司</title>
	<meta charset="utf-8">
	<meta name="keywords" content="洛阳智能农业装备研究院有限公司" />
	<link rel="stylesheet" type="text/css" th:href="@{chiaic/css/chiaic.css}">
	<link rel="icon" th:href="@{chiaic/img/chiaic.ico}" type="image/x-icon">
</head>
	<body>
		<div>
			<div th:replace="chiaic/head :: header"></div>
			<!--banner start -->
			<div  class="banner" style="width: 100%;min-height: 100px;margin-top: 75px;" >
				<img src="chiaic/img/common/newsbanner.png"  style="width: 100%;">
			</div>
			<!-- banner end -->
			<!--news body start-->
		<div class="news-tab">
			<table style="width: 68%;margin: 0 auto;padding: 1pc;margin-top: 8px; background: #F9F9F9;" th:each="news:${news}">
				<tr>
					<td><h2 th:text="${news.newTitle}">中心入选全省智能制造观摩优秀企业</h2></td>					
					<td rowspan="4" style="padding-left: 5pc;"><img th:src="${news.picMain}" style="height: 250px ;width: 380px;"></td>
				</tr>
				<tr>					
					<td style="font-size: 14px;color: #4b4b4b;"><span th:text="${news.promTime}">2019/07/22</span>&nbsp;&nbsp;&nbsp;&nbsp;来源:国家农机装备创新中心</td>					
					<td></td>
				</tr>
				<tr>					
					<td th:text="${news.newSmBody}">邀参加</td>
					<td></td>				
				</tr>
				<tr>		
					<td><a th:href="@{/newmain(newId=${news.newId})}"><img src="chiaic/img/common/newsmore.jpg"></a></td>
					<td></td>
				</tr>
			</table>
			<br><br><br><br>
		</div>
		<!--news body end-->
		</div>
		
		<div th:replace="chiaic/head :: footer"></div>  
		<div  th:replace="chiaic/head :: copy" ></div>
	</body>
</html>
